<!-- <link rel="stylesheet" href="/css/user_profile.css" /> -->
<h1>Calling / Profile Page</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>

<a href="/sign-out">Sign Out</a>
<br /><br />
<br />
<a href="/frequently">Frequently Communicated Person</a>
<br /><br />
<br />

<a href="/contacts">Contacts List</a>
<br /><br />
<br />

<br /><br />
<a href="/call-history">Call History</a>

<br /><br />
<a href="/new-call">New Call</a>
